body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #dbd034;
  }
  
  .calculator {
    width: 300px;
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  #display {
    width: calc(100% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .number {
    background-color: #2ecc71;
    color: white;
  }
  
  .operation {
    background-color: #e67e22;
    color: white;
  }
  
  .equal {
    background-color: #3498db;
    color: white;
  }
  
  